body {
    font-size: 20px;
    line-height: 1;
    padding: 2% 2% 2% 2%;
    font-family: 'Tenor Sans', sans-serif;
}

.jumbotron {
    background-color: rgb(137, 191, 241);
    background-size: 1500px;
    background-position: fixed;
    padding: 5%;
}

.display-4 {
    text-align: center;
    font-family: 'Coda Caption', sans-serif;
    color: dodgerblue;
    text-shadow: 2px 2px black;
    border-width: 20px;
    border-style: double;
    border-color: dodgerblue;
    border-radius: 20px;
    background-color: white;
}

.container2 {
    float: right;
    width: 70%;
    padding-top: 15px;
    padding-left: 10%;
}

aside {
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 10px;
    width: 40%;
}

.col {
    text-align: center;
}

.card {
    width: 100%;
    text-align: center;
}

input {
    border-radius: 10px;
    border-color: rgb(7, 134, 92);
    background-color: azure;
}

button {
    border-radius: 10px;
    background-color: rgb(129, 165, 243);
}

h5 {
    font-size: 22px;
    text-align: center;
    padding-bottom: 20px;
}

h6 {
    padding-left: 2%;
}

#locationList {
    font-size: 12px;
}

.list-group {
    width: 150px;
    padding-left: 2%;
    padding-bottom: 2%;
}

#fiveDayForecast{
    font-size: 14px;
    display: inline-block;
}

#day1, #day2, #day3, #day4, #day5 {
    background-color: dodgerblue;
    color: white;
    display: inline-block;
    width: 20%;
    padding-bottom: 20px;
}

.green {
    background-color:green;
    color: white;
    margin-left: 20px;
    padding: 15px;
    margin-bottom: 30px;
    border: none;
}

.yellow {
    background-color: yellow;
    color: black;
    padding: 15px;
    margin-bottom: 30px;
    border: none;
}

.red {
    background-color:red;
    color: black;
    margin-left: 20px;
    padding: 15px;
    margin-bottom: 30px;
    border: none;
}
