body {
    font-size: 20px;
    line-height: 1;
    padding: 20px;
}

header {
    text-align: center;
    font-size: 50px;
    font-family: 'Cinzel Decorative', cursive;
    font-weight: bold;
    height: 135px;
    background-image: url("https://i.pinimg.com/564x/37/fb/8a/37fb8a548ee4326e187e191b966f3f66.jpg");
    background-size: 1500px;
    background-position: fixed;
    padding:25px;
    border-width: 20px;
    border-style: double;
    border-color: white;
    border-radius: 20px;
}


.container {
    float: right;
    width: 100%;
    padding-top: 60px;
    padding-left: 100px;
    clear: both;
}


aside {
    height: 100%;
    position: fixed;
    padding-top: 50px;
    padding-left: 20px;
}

section {
    overflow: auto;
    clear: both;
    width: 100%;
}

.list-group {
    float: left;
    width: 25%;
}

input {
    border-radius: 10px;
    border-color: rgb(7, 134, 92);
    background-color: azure;
}

button {
    border-radius: 10px;
    background-color: rgb(129, 165, 243);
}

h5 {
    font-size: 22px;
    text-align: center;
    padding-bottom: 20px;
}

